## Cars challenges

###### **Exercise 1:**
read the `vehicles.csv` and set it to a variable called `cars`. We will use it for some extra challenges.

In [ ]:
url = 'https://drive.google.com/file/d/18zYGrzRhn_mz1HJLXxSO_MwR0_nWBS3K/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
cars = pd.read_csv(path)

###### **Exercise 2:**
create a column called `Auto` filled with either `True` or `False` depending on whether the transmission is Automatic or not.

In [ ]:
cars["Auto"] = cars["Transmission"].str.contains("Automatic")
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,Auto
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,True
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,True
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,True
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,True
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,True

###### **Exercise 3:**
create a column called `Speeds` that contains the number of speeds each transmission has, based on the number that appears in the column `Transmission`. For example, a transmission named "Automatic 4-spd" has 4 speeds, and one named "Auto (AM6)" has 6 speeds. If you find edge cases (e.g. numbers that do not make sense, no number at all...), use your own judgement to assign values to them.

Note: you will most likely need to use something called a "Regular Expression" or "regex" inside of the string method. Regular expressions are sequences of characters designed to match patterns. They can become really complex (to match complex patterns), but for this case, a simple [5 minute tutorial](https://www.youtube.com/watch?v=UQQsYXa1EHs&ab_channel=Kite) or some google should be enough. Whenever you see people writing regex in plain python, remember that you can use any regular expression directly inside of a Pandas `str` method. In the example below, we use the regular expression `"[v-z]"`, which means "match any lowercase letter between v and z (alphabetically)", in combination with the string method `str.contains()`:

In [ ]:
people.name.str.contains("[v-z]")

0    False
1     True
2     True
3    False
4     True
5    False
6    False
7     True
8    False
9    False
Name: name, dtype: bool

In [ ]:
# https://regex101.com/
cars["speeds"] = cars.Transmission.str.extract('(\d+)')
cars[["speeds", "Transmission"]].head()

  speeds     Transmission
0      3  Automatic 3-spd
1      3  Automatic 3-spd
2      3  Automatic 3-spd
3      3  Automatic 3-spd
4      4  Automatic 4-spd

###### **Exercise 4:**
remove non-alphanumeric characters from the "Drivetrain" and the "Make" column

In [ ]:
cars['Drivetrain'] = cars.Drivetrain.str.replace('[^a-zA-Z0-9]', " ")
cars['Make'] = cars.Make.str.replace('[^a-zA-Z0-9]', " ")

cars.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,Auto,speeds
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2 Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,True,3
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2 Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,True,3
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,True,3
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,True,3
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,True,4